body {
	background-image: url(../img/PizzaParty.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.header-outer {
	display: flex;
	align-items: center;
	position: sticky;
	top: -50px;
	height: 120px;
}

.header-inner {
	height: 70px;
	position: sticky;
	top: 0;
}

h1 {
	color: rgb(201, 24, 24);
	font-family: "Arial";
}

p {
	font-size: 20px;
	font-weight: bold;
	color: blue;
	opacity: 0.75;
}

table {
	text-align: left;
	font-size: 20px;
}

tbody {
	font-size: 18px;
	text-align: left;
}

title {
	text-align: center;
}

.pizzacard {
	height: 100%;
}